1

In [ ]:
# write a python program to add three numbers
num1 = 1
num2 = 6
num3 = 3
sum = num1 + num2 + num3
print(f'Sum: {sum}')

Sum: 10

2

In [ ]:
# write a python function to add two user provided numbers and return the sum
def add_three_numbers(num1, num2, num3):
    sum = num1 + num2 + num3
    return sum

3

In [ ]:
# write a program to find and print the largest among three numbers
num1 = 10
num2 = 12
if (num1 >= num2):
  largest = num1
else:
  largest = num2
print(f'largest:{largest}')

largest:12

4

In [ ]:
# write a program to print first 10 natural numbers

x = [i for i in range(1, 11)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5

In [ ]:
# 5 write a function to add first 10 natural numbers

def add_nat_10():
  result = 0
  for i in range(1,11):
    result+=i
  return result

6

In [ ]:
# Write a function to check if a number is odd

def is_odd(num):
  return (num%2 != 0)

7

In [ ]:
# write a function to sum the elements in the given list

def list_sum(list1):
  total = 0
  for ele in range(0, len(list1)):
    total = total + list1[ele]
  return total

8

In [ ]:
# write a function to strip vowels in the given word

def strip_vowels(word):
  vowels = "AaEeIiOoUu"
  return(list (x for x in word if x not in vowels))

9

In [ ]:
# Write a function that prints first n fibonacci numbers

def generate_fibonacci_series(n):
    f1 = 0
    f2 = 1
    if (n < 1):
        return
    print(f1, end=" ")
    for x in range(1, n):
        print(f2, end=" ")
        next = f1 + f2
        f1 = f2
        f2 = next

10

In [ ]:
# Write a function to get the missing angle of a triangle when any two angles are given

def missing_angle(angle1, angle2):
  return 180 - (angle1+angle2)

11

In [ ]:
# Write a program that reverses a string

str = "noob"

str[::-1]

'boon'

12

In [ ]:
# Write a program to sort alphabetically the words form a string

my_str = "Hello this Is an Example With cased letters"

words = [word.lower() for word in my_str.split()]
words.sort()
print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
an
cased
example
hello
is
letters
this
with

13

In [ ]:
# Write a program to find the union of two sets

In [ ]:
E = {0, 2, 4, 6, 8};
N = {1, 2, 3, 4, 5};

print("Union of E and N is", E | N)

Union of E and N is {0, 1, 2, 3, 4, 5, 6, 8}

14

In [ ]:
# Write a function that capitalizes all the words in the given sentence

def capitalize(sentence):
  lst = sentence.split()
  wlist = []
  i = 0
  while i < len(lst):
    x = lst[i]
    wlist.append(x.upper())
    i += 1

  return ' '.join(wlist)

15

In [ ]:
# Write a program to print the square of a number using lambda

num1 = 7

lf = lambda a : a * a

lf(num1)

49

16

In [ ]:
# Write a function that returns the area of a triangle when base and height is given

def traingle_area(base, height):
  return (0.5)*(base * height)

17

In [ ]:
# Write a program that filters the list of integers greater than 7

ll = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]

filtered_list = list(filter(lambda num: (num > 7), ll))

print(filtered_list)

[8, 10, 11, 12, 13, 17, 21]

18

In [ ]:
# Write a function to check if a file exits
import os

def is_file_exists(file_name):
  return os.path.exists(file_name)

19

In [ ]:
# Write a program to delete a file
import os

if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

The file does not exist

20

In [ ]:
# Write a program that writes a line in a file

f = open("demofile.txt", "a")
f.write("Now the file has more content!")
f.close()

21

In [ ]:
# Write a program that overwrites the content in a file

f = open("demofile.txt", "r")
print(f.read())
f = open("demofile.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

Now the file has more content!

22

In [ ]:
# Write a program that loops through the array

cars = ["Ford", "Volvo", "BMW"]

for x in cars:
  print(x)

Ford
Volvo
BMW

23

In [ ]:
# Write a program using list comprehension to copy elements from one list to another if character 'a' is present in the list element

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

24

In [ ]:
# Write a program to join two lists

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

25

In [ ]:
# Write a program to access a range of list elements

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

26

In [ ]:
# Write a program to check if an element exists in a list

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

27

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "banana" in thislist:
  thislist.remove("banana")
else:
  print("element does not exists")
print(thislist)

['apple', 'cherry']

28

In [ ]:
# Write a program to check if a key exists in dictionary

fruits_dict = dict(apple= 1, mango= 3, banana= 4)

key = 'orange'

try:
    fruits_dict[key]
except KeyError as err:
    print('Key not found')

Key not found

29

In [ ]:
# Write a program to obtain a part of string using slicing

random_string = 'incidentally'

print(random_string[0:8])

incident

30

In [ ]:
# With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included).

n = 10
ans={i : i*i for i in range(1,n+1)}
print(ans)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

31

In [ ]:
# Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

s = "hello world and practice makes perfect and hello world again"
words = [word for word in s.split(" ")]
print (" ".join(sorted(list(set(words)))))

again and hello makes perfect practice world

32

In [ ]:
# Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

numbers = '0100,0011,1010,1001'

value = []
items=[x for x in numbers.split(',')]
for p in items:
    intp = int(p,2)
    if not intp % 5:
        value.append(p)

print (','.join(value))

1010

33

In [ ]:
# Write a program that accepts a sentence and calculate the number of letters and digits and print the result

word = 'hello world! 123'
letter, digit = 0,0

for i in word:
    if i.isalpha(): # returns True if alphabet
        letter += 1
    elif i.isnumeric(): # returns True if numeric
        digit += 1

print("LETTERS {0}\nDIGITS {1}".format(letter,digit))

LETTERS 10
DIGITS 3

34

In [ ]:
# Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters and print the result

word = 'The answer is 42!'
upper,lower = 0,0

for i in word:
        lower+=i.islower()
        upper+=i.isupper()

print("UPPER CASE {0}\nLOWER CASE {1}".format(upper,lower))

UPPER CASE 1
LOWER CASE 10

35

In [63]:
# Write a program that prints the square of odd numbers in the given list

list_ints = '1,2,3,4,5,6,7,8,9'

seq = list_ints.split(',') 
lst = [int(i) for i in seq]
def flt(i):                                           #Define a filter function
    return i % 2 != 0
result_l = [str(i * i) for i in filter(flt,lst)]      
print(",".join(result_l))

TypeError: ignored